.BodyIndex{
    background-color: #8A958F;
}

.HeaderIndex{
    background-color: rgb(97, 123, 117);   
    width: 100%; 
    display: flex;
    font-size: 42px;
    font-style: oblique;
    font-weight: 500;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    color:rgb(231, 231, 231)
}

.Op1{

    background-color: rgb(97, 123, 117);    
    display: flex;
    font-size: 32px;
    font-style: oblique;
    font-weight: 500;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 5px;

}

.Op2{
    
    background-color: rgb(97, 123, 117);    
    display: flex;
    font-size: 32px;
    font-style: oblique;
    font-weight: 500;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 5px;
}

.Op3{

    background-color: rgb(97, 123, 117);    
    display: flex;
    font-size: 32px;
    font-style: oblique;
    font-weight: 500;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 5px;

}

.imagenTlacu{
    margin-left: 42%;
    height:289px;
    width:289px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 5px;

}

text:hover{
    opacity: .5;
    transition:.8s;
}