*{
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    
    list-style: none;
    @-ms-viewport {
        width: extend-to-zoom;
        zoom: 1.0;

    }
}

.contenedor{
    width: 100%;
    height: 100vh;
    display: grid; 
    grid-template-areas: 
    "bloque1 bloque1 bloque2"
    "bloque3 bloque4 bloque4"
    "bloque5 bloque5 bloque5"
    ;   
    grid-template-rows: 1fr 6fr 1fr;
    color:white;
    text-align: center;
}

.item0{
    padding-top: 15px;
    grid-area: bloque1;
    background-color: rgb(156, 44, 0);    
}
.item1{
    padding-top: 15px;
    grid-area: bloque2;
    background-color: rgb(71, 20, 0);      
}
.containerA{
    width: 100%;
    display: grid;    
    grid-area: bloque3;
    background-color: orange;
}
.containerAside0{
    width: 90%;
    margin-left: 15px;
    grid-template-areas: 
    "topA"
    "centerA"
    "bottomA" ;
    grid-template-rows: 1fr 3fr 1fr;    
    color: orange;
}
.containerAside1{
    grid-area: topA;
    margin-top:20px;
    margin-bottom: 20px; 
    padding-top: 10px;   
    width: 105%;
    min-height: 20%;
    background-color: white;
    color:orange;
    font-weight: bold;

}.containerAsideNull{
    grid-area: centerA;
    width: 95%;
    min-height: 20%;
    margin-bottom: 35%;  
    
}
.containerAside2{
    grid-area: bottomA;    
    margin-top:20px;
    margin-bottom: 20px; 
    padding-top: 10px;   
    width: 105%;
    min-height: 20%;
    background-color: white;
    color:orange;
    font-weight: bold;
}

.containerB{
    width: 100%;
    display: grid;    
    grid-area: bloque4;
    background-color: orangered
}
.containerAside0{
    width: 90%;
    margin-left: 15px;
    grid-template-areas: 
    "topA"    
    "bottomA" ;
    grid-template-rows: 1fr 3fr 1fr;    
    color: orange;
}
.containerContenido1{
    grid-area: topA;
    margin-top:10px;
    margin-bottom: 15px;    
    margin-left: 10px; 
    padding-top: 10px;   
    width: 98%;
    min-height: 45%;
    border: 2px solid white;
    color:rgb(241, 241, 241);
    font-weight: bold;  
}
.containerContenido2{
    grid-area: topA;
    
    margin-bottom: 10px;
    margin-left: 10px; 
    padding-top: 10px;   
    width: 98%;
    min-height: 45%;
    border: 2px solid white;
    color:rgb(241, 241, 241);
    font-weight: bold;  
}

.item5{
    grid-area: bloque4;
   
}
.item6{
    padding-top: 13px; 
    grid-area: bloque5;
    background-color: rgb(71, 20, 0);
}
